ion-content{
    --background: var(--ion-color-primary);
    justify-content: center;
}

ion-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

ion-col {
    display: flex;
    align-items: center;
    justify-content: center;
}

ion-button {
    width: 55%;
}

ion-label {
    font-size: small;
}

ion-input {
    text-decoration: none !important;
    outline: none !important;
    font-family: Abel !important;
}


figcaption {
    margin-top: 15%;
    font-size: x-small;
}

//// CSS Class

.diet-row {
    //width:auto;
    justify-content:flex-start; // changed
    flex-wrap:nowrap;
    overflow-x: scroll;
    overflow-y:hidden;
    //white-space: nowrap; 
}

.diet-row ion.col {
    display: flex;
    flex-wrap: nowrap;
}

.selected-diet {
    border: 3px solid #cf3c4f;
}

.image-picker {
    background-color: white;
    border-radius: 10px;
    width: 3.5rem;
    height: 3.5rem;
    padding: 1%;
}

.image-show {
    border: 0;
    width: 100%;
    height: 100%;
}

.margin-small-y {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.margin-x {
    margin-left: 2.5em;
    margin-right: 2.5em;
}

.margin-t {
    margin-top: 2.5em;
}

.title {
    margin-top: 3rem;
    text-align: center;
}

.text {
    text-align: left;
    font-family: Abel !important;
}

.text-area-container {
    width: 80%;
    border-radius: 10px;
    height: 35px !important;
    align-content: center !important;
    box-shadow: 0 0 0.2rem #00000030;
}

.text-area {
    font-family: Abel;
    background-color: white;
    vertical-align: middle;
}

.input-container {
    padding: 3%;
    width: 80%;
    border-radius: 10px;
    align-content: center !important;
    font-family: Abel;
    background-color: white;
    vertical-align: middle;
    border: none;
    outline: none;
    box-shadow: 0 0 0.2rem #00000030;
}

.ing-block {
    display: inline-block;

    color: white;
    background-color: #34A853;
    font-family: Abel;
    
    border-radius: 5px;
    padding: 1%;
    margin: 2%;
}

.skip-button {
    position: absolute;
    top: 10px;
    left: 60%;
    margin: auto;
    font-family: Abel;
    width: 50%;
    color: #34A853;
}