ion-content{
    --background: var(--ion-color-primary);
}

ion-row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 2rem;
}

ion-card {
    width: 10rem;
    //width: 157px;
    height: 12rem;
    padding: 5px;
    border-radius: 20px;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

ion-card-header, ion-card-content {
    padding-bottom: 0.5em;
    padding-left: 0.7em;
    padding-right: 0.7em;
}

ion-card.main-card {
    border-radius: 30px;
    max-width: 500px;
    overflow: visible;
    //margin-top: 80px;
    margin-bottom:2.5em;
}

// ***** CSS Classes *****

.title {
    margin-top: 3rem;
    text-align: center;
}

.margin-y {
    margin-top: 0.5em;
    margin-bottom: 2em;
}

.card-title {
    font-size: medium;
}

.card-content {
    font-size: small;
}

.card-img {
    max-width:100px;
}

.card-main-content {
    border-radius: 20px;
}

.card-image-blk {
    --background: transparent;
    --border-color: transparent;
    margin-bottom: -30px;
    margin-top: -30px;
}