ion-content{
    --background: var(--ion-color-primary);
}

ion-row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

ion-col {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

ion-button {
    color: #34A853;
}

img {
    border-radius: 10px !important;
}

ion-segment-button {
    height: 40px;
    min-height: 40px;
    border-radius: 10px;
    margin: -2px 0;
}

ion-segment {
    background: white;
    border-radius: 10px;
}

ion-popover {
    --backdrop-opacity: 0.6;
    --box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.6);
    --color: white;
    --width: 40%;
    margin-top: 2%;
}

ion-popover::part(backdrop) {
    background-color: rgba(255, 255, 255, 0.329);
}


ion-list {
    background: var(--ion-color-primary) !important;
    width: 100%;
}

ion-item {
    background: rgba(0, 0, 0, 0) !important;
    background-color: rgba(0, 0, 0, 0) !important;
}

//// CSS Class
.title {
    margin-top: 3rem;
    text-align: center;
}

.margin-y {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}

.margin-x {
    margin-left: 2.5em;
    margin-right: 2.5em;
}

.margin-comment {
    width: 90%;
    padding: 2%;
}

.margin-description {
    margin-left: 2%;
    margin-right: 2%;
}

.small-font {
    font-size: smaller;
}

.text-area {
    font-family: Abel;
    vertical-align: middle;
    margin: 0.5rem 1rem 0.5rem 1rem;
}

.ionicon-stroke-width {
    stroke-width: var(--ionicon-stroke-width, 15px);
}

.grid1 {
    background-color: white;
    margin: 0.5rem;
    border-radius: 20px;
    box-shadow: 0 0 0.5rem #00000030;
}

.labelIng {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: Abel;
    font-size: medium;
}

.buttonRemove {
    height: 95%;
    margin: 0.5rem 0 0.5rem 0;
    width: 19%;
}