<ion-content [fullscreen]="true">
  <ion-grid class="ion-text-center">

    <!-- row : intro message -->
    <ion-row>
      <h3 class="title title-font">Shopping List</h3>
    </ion-row>

    <ion-row *ngIf="this.recipes.length !== 0; else alt_message">
      <ion-list style="background: transparent !important;">
        <ion-item-sliding id="recipe.id" #slidingItem *ngFor="let recipe of recipes">
          <ion-item id="{{recipe.title}}" color="none" lines="none">
            <ion-grid style="background-color: white; margin: 0.5rem; border-radius: 20px; box-shadow: 0 0 0.5rem #00000030;">
              <ion-row (click)="clickRecipe(recipe.id)">
                <ion-col>
                  <img src="{{recipe.image}}">  
                </ion-col>
                <ion-col>
                  <h3 style="font-size: larger; font-family: Abel;">{{recipe.title}}</h3>
                </ion-col>
              </ion-row>
              <ion-row *ngFor="let ingredient of recipe.ingredients">
                <ion-col style="display: flex; justify-content: left; margin: 0 2rem 0 3rem;">
                  <input type="checkbox" id="{{recipe.title}}-{{ingredient[0]}}" style="margin-right: .5rem;">
                  <label for="{{recipe.title}}-{{ingredient[0]}}"
                    style="width: 100%; display: flex; justify-content: space-between;
                          font-family: Abel; font-size: larger;">
                    <span>{{ingredient[0]}}</span>
                    <span>{{ingredient[1]}}</span>
                  </label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>

          <ion-item-options side="end" (ionSwipe)="removeRecipe(recipe.title, recipe.id)">
            <ion-button expandable (click)="removeRecipe(recipe.title, recipe.id)" color="danger"
            style="height: 95%; margin: 0.5rem 0 0.5rem 0; width: 19%;">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-row>
  </ion-grid>

  <ng-template #alt_message>
    <p class="ion-text-center" style="justify-content: center; display: flex; font-family: Abel; margin: 3rem 0 0 0;">
        Looks like you don't have any recipe in your <br> shopping list yet!
        Go ahead and add some!
    </p>
  </ng-template>
</ion-content>