<ion-content  [fullscreen]="true">
  <ion-grid class="ion-text-center">
      <!-- row : cancel button -->
      <ion-row>
        <ion-button class="skip-button" routerLink="/connect">Cancel</ion-button>
      </ion-row>  
    </ion-grid>

    <ion-grid class="ion-text-center">
      <!-- row : app logo --> 
      <ion-row>
        <div id="container">
          <ion-img src="assets/imgs/imeal_logo_smaller.png"></ion-img>
        </div>
      </ion-row>

      <!-- row : intro -->
      <ion-row>
        <h3 class="title title-font"> Forgot password </h3>
      </ion-row>

      <!-- row : intro-message -->
      <ion-row>
        <h5 class="text">Enter your email adress to request a password <br> reset.</h5>
      </ion-row>

      <!-- Validation form : validate email -->
      <form [formGroup]="form">

        <!-- row : Email address -->
        <ion-row class="margin-t-input" style="justify-content: start !important;">
          <h6 class="input-title" id="input-title">Email address</h6>
        </ion-row>

        <ion-row>
          <ion-item class="text-area-container">
            <ion-input type="email" formControlName="email" class="text-area" id="email" placeholder="Enter email"></ion-input>
          </ion-item>
        </ion-row>

        <ion-row>
          <!-- Email error messages -->
          <ion-label style="margin-top: 1%;" class="text" color="danger" *ngIf="form.get('email').touched && form.get('email').errors?.required">Email is mandatory</ion-label>
          <ion-label style="margin-top: 1%;" class="text" color="danger" *ngIf="form.get('email').touched && form.get('email').errors?.email">Email is invalid</ion-label>
        </ion-row>

        <!-- row : create account button -->
        <ion-row class="margin-y">
          <!-- routerLink="/register" -->
          <ion-button (click)="resetPassword()" [disabled]="!form.get('email').valid" class="button-font" shape="round" color="secondary"> Send code </ion-button>
        </ion-row>
      </form>

      <!-- row : skip button -->
      <ion-row class="margin-t3">
        <ion-button class="forgot-button" routerLink="/login"><h6>Login to my account</h6></ion-button>
      </ion-row>
  </ion-grid>
</ion-content>